.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product-row {
  flex-basis: calc(33.33% - 20px); /* Adjust the width as needed */
  margin: 10px;
  border: 1px solid #ccc;
  padding: 10px;
  box-sizing: border-box;
  background-color: #fff;
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.product-image {
  width: 100px; /* Adjust the image width as needed */
  height: 100px; /* Adjust the image height as needed */
  object-fit: cover;
}

.product-details {
  margin-top: 10px;
}